{
	"auto_upgrade_last_run": null,
	"bootstrapped": true,
	"in_process_packages":
	[
	],
	"installed_packages":
	[
{% for package in sublime_package_control %}
  "{{ package }}"{% if not loop.last %},{% endif %}
{% endfor %}
],
}
